@import "src/styles/styles";

.years {
    width: 100%;
    font-weight: 700;
    line-height: 0.8;
    font-size: customClamp(50, 200, 1.35);

    display: flex;
    justify-content: center;
    gap: customClamp(25, 60, 1.6);

    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    left: 0;
    z-index: -1;
    transition: 500ms;
    letter-spacing: -0.02em;


    @media screen and (max-width: $mobile) {
        position: static;
        margin-top: 75px;
    }
}

.first-year {
    color: #5D5FEF;
}

.second-year {
    color: #EF5DA8;
}
